@font-face {
    font-family: 'ab-icons';
    src:    url('fonts/ab-icons.eot?58y4uq');
    src:    url('fonts/ab-icons.eot?58y4uq#iefix') format('embedded-opentype'),
        url('fonts/ab-icons.ttf?58y4uq') format('truetype'),
        url('fonts/ab-icons.woff?58y4uq') format('woff'),
        url('fonts/ab-icons.svg?58y4uq#ab-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ab-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-remove-lightbox:before {
    content: "\e900";
}
.icon-add-lightbox:before {
    content: "\e901";
}
.icon-pencil-square:before {
    content: "\e902";
}
.icon-download2:before {
    content: "\e903";
}
.icon-download-alt:before {
    content: "\e019";
}
.icon-glass:before {
    content: "\e001";
}
.icon-music:before {
    content: "\e002";
}
.icon-search:before {
    content: "\e003";
}
.icon-envelope:before {
    content: "\e004";
}
.icon-heart:before {
    content: "\e005";
}
.icon-star:before {
    content: "\e006";
}
.icon-star-empty:before {
    content: "\e007";
}
.icon-user:before {
    content: "\e008";
}
.icon-film:before {
    content: "\e009";
}
.icon-th-large:before {
    content: "\e00a";
}
.icon-th:before {
    content: "\e00b";
}
.icon-th-list:before {
    content: "\e00c";
}
.icon-ok:before {
    content: "\e00d";
}
.icon-remove:before {
    content: "\e00e";
}
.icon-zoom-in:before {
    content: "\e00f";
}
.icon-zoom-out:before {
    content: "\e010";
}
.icon-off:before {
    content: "\e011";
}
.icon-signal:before {
    content: "\e012";
}
.icon-cog:before {
    content: "\e013";
}
.icon-trash:before {
    content: "\e014";
}
.icon-home:before {
    content: "\e015";
}
.icon-file:before {
    content: "\e016";
}
.icon-time:before {
    content: "\e017";
}
.icon-road:before {
    content: "\e018";
}
.icon-download:before {
    content: "\e01a";
}
.icon-upload:before {
    content: "\e01b";
}
.icon-inbox:before {
    content: "\e01c";
}
.icon-play-circle:before {
    content: "\e01d";
}
.icon-repeat:before {
    content: "\e01e";
}
.icon-refresh:before {
    content: "\e01f";
}
.icon-list-alt:before {
    content: "\e020";
}
.icon-lock:before {
    content: "\e021";
}
.icon-flag:before {
    content: "\e022";
}
.icon-headphones:before {
    content: "\e023";
}
.icon-volume-off:before {
    content: "\e024";
}
.icon-volume-down:before {
    content: "\e025";
}
.icon-volume-up:before {
    content: "\e026";
}
.icon-qrcode:before {
    content: "\e027";
}
.icon-barcode:before {
    content: "\e028";
}
.icon-tag:before {
    content: "\e029";
}
.icon-tags:before {
    content: "\e02a";
}
.icon-book:before {
    content: "\e02b";
}
.icon-bookmark:before {
    content: "\e02c";
}
.icon-print:before {
    content: "\e02d";
}
.icon-camera:before {
    content: "\e02e";
}
.icon-font:before {
    content: "\e02f";
}
.icon-bold:before {
    content: "\e030";
}
.icon-italic:before {
    content: "\e031";
}
.icon-text-height:before {
    content: "\e032";
}
.icon-text-width:before {
    content: "\e033";
}
.icon-align-left:before {
    content: "\e034";
}
.icon-align-center:before {
    content: "\e035";
}
.icon-align-right:before {
    content: "\e036";
}
.icon-align-justify:before {
    content: "\e037";
}
.icon-list:before {
    content: "\e038";
}
.icon-indent-left:before {
    content: "\e039";
}
.icon-indent-right:before {
    content: "\e03a";
}
.icon-facetime-video:before {
    content: "\e03b";
}
.icon-picture:before {
    content: "\e03c";
}
.icon-pencil:before {
    content: "\e03d";
}
.icon-map-marker:before {
    content: "\e03e";
}
.icon-adjust:before {
    content: "\e03f";
}
.icon-tint:before {
    content: "\e040";
}
.icon-edit:before {
    content: "\e041";
}
.icon-share:before {
    content: "\e042";
}
.icon-check:before {
    content: "\e043";
}
.icon-move:before {
    content: "\e044";
}
.icon-step-backward:before {
    content: "\e045";
}
.icon-fast-backward:before {
    content: "\e046";
}
.icon-backward:before {
    content: "\e047";
}
.icon-play:before {
    content: "\e048";
}
.icon-pause:before {
    content: "\e049";
}
.icon-stop:before {
    content: "\e04a";
}
.icon-forward:before {
    content: "\e04b";
}
.icon-fast-forward:before {
    content: "\e04c";
}
.icon-step-forward:before {
    content: "\e04d";
}
.icon-eject:before {
    content: "\e04e";
}
.icon-chevron-left:before {
    content: "\e04f";
}
.icon-chevron-right:before {
    content: "\e050";
}
.icon-plus-sign:before {
    content: "\e051";
}
.icon-minus-sign:before {
    content: "\e052";
}
.icon-remove-sign:before {
    content: "\e053";
}
.icon-ok-sign:before {
    content: "\e054";
}
.icon-question-sign:before {
    content: "\e055";
}
.icon-info-sign:before {
    content: "\e056";
}
.icon-screenshot:before {
    content: "\e057";
}
.icon-remove-circle:before {
    content: "\e058";
}
.icon-ok-circle:before {
    content: "\e059";
}
.icon-ban-circle:before {
    content: "\e05a";
}
.icon-arrow-left:before {
    content: "\e05b";
}
.icon-arrow-right:before {
    content: "\e05c";
}
.icon-arrow-up:before {
    content: "\e05d";
}
.icon-arrow-down:before {
    content: "\e05e";
}
.icon-share-alt:before {
    content: "\e05f";
}
.icon-resize-full:before {
    content: "\e060";
}
.icon-resize-small:before {
    content: "\e061";
}
.icon-plus:before {
    content: "\e062";
}
.icon-minus:before {
    content: "\e063";
}
.icon-asterisk:before {
    content: "\e064";
}
.icon-exclamation-sign:before {
    content: "\e065";
}
.icon-gift:before {
    content: "\e066";
}
.icon-leaf:before {
    content: "\e067";
}
.icon-fire:before {
    content: "\e068";
}
.icon-eye-open:before {
    content: "\e069";
}
.icon-eye-close:before {
    content: "\e06a";
}
.icon-warning-sign:before {
    content: "\e06b";
}
.icon-plane:before {
    content: "\e06c";
}
.icon-calendar:before {
    content: "\e06d";
}
.icon-random:before {
    content: "\e06e";
}
.icon-comment:before {
    content: "\e06f";
}
.icon-magnet:before {
    content: "\e070";
}
.icon-chevron-up:before {
    content: "\e071";
}
.icon-chevron-down:before {
    content: "\e072";
}
.icon-retweet:before {
    content: "\e073";
}
.icon-shopping-cart:before {
    content: "\e074";
}
.icon-folder-close:before {
    content: "\e075";
}
.icon-folder-open:before {
    content: "\e076";
}
.icon-resize-vertical:before {
    content: "\e077";
}
.icon-resize-horizontal:before {
    content: "\e078";
}
.icon-bar-chart:before {
    content: "\e079";
}
.icon-twitter-sign:before {
    content: "\e07a";
}
.icon-facebook-sign:before {
    content: "\e07b";
}
.icon-camera-retro:before {
    content: "\e07c";
}
.icon-key:before {
    content: "\e07d";
}
.icon-cogs:before {
    content: "\e07e";
}
.icon-comments:before {
    content: "\e07f";
}
.icon-thumbs-up:before {
    content: "\e080";
}
.icon-thumbs-down:before {
    content: "\e081";
}
.icon-star-half:before {
    content: "\e082";
}
.icon-heart-empty:before {
    content: "\e083";
}
.icon-signout:before {
    content: "\e084";
}
.icon-linkedin-sign:before {
    content: "\e085";
}
.icon-pushpin:before {
    content: "\e086";
}
.icon-external-link:before {
    content: "\e087";
}
.icon-signin:before {
    content: "\e088";
}
.icon-trophy:before {
    content: "\e089";
}
.icon-github-sign:before {
    content: "\e08a";
}
.icon-upload-alt:before {
    content: "\e08b";
}
.icon-lemon:before {
    content: "\e08c";
}
.icon-phone:before {
    content: "\e08d";
}
.icon-check-empty:before {
    content: "\e08e";
}
.icon-bookmark-empty:before {
    content: "\e08f";
}
.icon-phone-sign:before {
    content: "\e090";
}
.icon-twitter:before {
    content: "\e091";
}
.icon-facebook:before {
    content: "\e092";
}
.icon-github:before {
    content: "\e093";
}
.icon-unlock:before {
    content: "\e094";
}
.icon-credit:before {
    content: "\e095";
}
.icon-rss:before {
    content: "\e096";
}
.icon-hdd:before {
    content: "\e097";
}
.icon-bullhorn:before {
    content: "\e098";
}
.icon-bell:before {
    content: "\e099";
}
.icon-certificate:before {
    content: "\e09a";
}
.icon-hand-right:before {
    content: "\e09b";
}
.icon-hand-left:before {
    content: "\e09c";
}
.icon-hand-up:before {
    content: "\e09d";
}
.icon-hand-down:before {
    content: "\e09e";
}
.icon-circle-arrow-left:before {
    content: "\e09f";
}
.icon-circle-arrow-right:before {
    content: "\e0a0";
}
.icon-circle-arrow-up:before {
    content: "\e0a1";
}
.icon-circle-arrow-down:before {
    content: "\e0a2";
}
.icon-globe:before {
    content: "\e0a3";
}
.icon-wrench:before {
    content: "\e0a4";
}
.icon-tasks:before {
    content: "\e0a5";
}
.icon-filter:before {
    content: "\e0a6";
}
.icon-briefcase:before {
    content: "\e0a7";
}
.icon-fullscreen:before {
    content: "\e0a8";
}
.icon-group:before {
    content: "\e0a9";
}
.icon-link:before {
    content: "\e0aa";
}
.icon-cloud:before {
    content: "\e0ab";
}
.icon-beaker:before {
    content: "\e0ac";
}
.icon-cut:before {
    content: "\e0ad";
}
.icon-copy:before {
    content: "\e0ae";
}
.icon-paper-clip:before {
    content: "\e0af";
}
.icon-save:before {
    content: "\e0b0";
}
.icon-sign-blank:before {
    content: "\e0b1";
}
.icon-reorder:before {
    content: "\e0b2";
}
.icon-list-ul:before {
    content: "\e0b3";
}
.icon-list-ol:before {
    content: "\e0b4";
}
.icon-strikethrough:before {
    content: "\e0b5";
}
.icon-underline:before {
    content: "\e0b6";
}
.icon-table:before {
    content: "\e0b7";
}
.icon-magic:before {
    content: "\e0b8";
}
.icon-truck:before {
    content: "\e0b9";
}
.icon-pinterest:before {
    content: "\e0ba";
}
.icon-pinterest-sign:before {
    content: "\e0bb";
}
.icon-google-plus-sign:before {
    content: "\e0bc";
}
.icon-google-plus:before {
    content: "\e0bd";
}
.icon-money:before {
    content: "\e0be";
}
.icon-caret-down:before {
    content: "\e0bf";
}
.icon-caret-up:before {
    content: "\e0c0";
}
.icon-caret-left:before {
    content: "\e0c1";
}
.icon-caret-right:before {
    content: "\e0c2";
}
.icon-columns:before {
    content: "\e0c3";
}
.icon-sort:before {
    content: "\e0c4";
}
.icon-sort-down:before {
    content: "\e0c5";
}
.icon-sort-up:before {
    content: "\e0c6";
}
.icon-envelope-alt:before {
    content: "\e0c7";
}
.icon-linkedin:before {
    content: "\e0c8";
}
.icon-undo:before {
    content: "\e0c9";
}
.icon-legal:before {
    content: "\e0ca";
}
.icon-dashboard:before {
    content: "\e0cb";
}
.icon-comment-alt:before {
    content: "\e0cc";
}
.icon-comments-alt:before {
    content: "\e0cd";
}
.icon-bolt:before {
    content: "\e0ce";
}
.icon-sitemap:before {
    content: "\e0cf";
}
.icon-umbrella:before {
    content: "\e0d0";
}
.icon-paste:before {
    content: "\e0d1";
}
.icon-lightbulb:before {
    content: "\e0d2";
}
.icon-exchange:before {
    content: "\e0d3";
}
.icon-cloud-download:before {
    content: "\e0d4";
}
.icon-cloud-upload:before {
    content: "\e0d5";
}
.icon-user-md:before {
    content: "\e0d6";
}
.icon-stethoscope:before {
    content: "\e0d7";
}
.icon-suitcase:before {
    content: "\e0d8";
}
.icon-bell-alt:before {
    content: "\e0d9";
}
.icon-coffee:before {
    content: "\e0da";
}
.icon-food:before {
    content: "\e0db";
}
.icon-file-alt:before {
    content: "\e0dc";
}
.icon-building:before {
    content: "\e0dd";
}
.icon-hospital:before {
    content: "\e0de";
}
.icon-ambulance:before {
    content: "\e0df";
}
.icon-medkit:before {
    content: "\e0e0";
}
.icon-fighter-jet:before {
    content: "\e0e1";
}
.icon-beer:before {
    content: "\e0e2";
}
.icon-h-sign:before {
    content: "\e0e3";
}
.icon-plus-sign2:before {
    content: "\e0e4";
}
.icon-double-angle-left:before {
    content: "\e0e5";
}
.icon-double-angle-right:before {
    content: "\e0e6";
}
.icon-double-angle-up:before {
    content: "\e0e7";
}
.icon-double-angle-down:before {
    content: "\e0e8";
}
.icon-angle-left:before {
    content: "\e0e9";
}
.icon-angle-right:before {
    content: "\e0ea";
}
.icon-angle-up:before {
    content: "\e0eb";
}
.icon-angle-down:before {
    content: "\e0ec";
}
.icon-desktop:before {
    content: "\e0ed";
}
.icon-laptop:before {
    content: "\e0ee";
}
.icon-tablet:before {
    content: "\e0ef";
}
.icon-mobile:before {
    content: "\e0f0";
}
.icon-circle-blank:before {
    content: "\e0f1";
}
.icon-quote-left:before {
    content: "\e0f2";
}
.icon-quote-right:before {
    content: "\e0f3";
}
.icon-spinner:before {
    content: "\e0f4";
}
.icon-circle:before {
    content: "\e0f5";
}
.icon-reply:before {
    content: "\e0f6";
}
.icon-github-alt:before {
    content: "\e0f7";
}
.icon-folder-close-alt:before {
    content: "\e0f8";
}
.icon-folder-open-alt:before {
    content: "\e0f9";
}
.icon-collapse-lbpanel:before {
    content: "\e000";
}
.icon-slideshow:before {
    content: "\e0fb";
}
.icon-expand-lbpanel:before {
    content: "\e0fa";
}

