.modal {
    transition:
        opacity 0.15s linear,
        visibility 0s linear 0.15s;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0 , 0.75);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal.is-visible {
    transition:
        opacity 0.15s linear,
        visibility 0s linear 0s;
    
    opacity: 1;
    visibility: visible;
}

.modal__panel {
    transition: transform 0.2s ease;
    width: 460px;
    background: #fff;
    border-radius: 3px;
    position: relative;

    transform: scale(0.9);
}

.modal.is-visible .modal__panel {
    transform: scale(1);
}

.modal__header {
    font-size: 20px;
    margin-top: 0;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.modal__dismiss {
    padding: 0;
    background: transparent;
    border: 0;
    position: absolute;
    right: 24px;
    top: 28px;
}

.modal__dismiss > img {
    display: block;
    opacity: 0.5;
}

.modal__content {
    padding: 0 24px;
}

.modal__label {
    color: #666;
    display: block;
    margin-bottom: 6px;
}

.modal__change {
    padding: 20px 24px;
    background: #f5f5f5;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    position: relative;
}

.modal__change__name {
    flex: 1;
}

.modal__change__name__label {
    display: block;
    font-size: 12px;

    opacity: 0.5;
    line-height: 1;
    margin-bottom: 7px;
}

.modal__change__name__value {
    display: block;
    line-height: 1;
}

.modal__change__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    min-width: 100px;
}

.modal__actions {
    display: flex;
    justify-content: flex-start;
    padding: 8px 24px 24px 24px;
}

.button {
    text-transform: uppercase;
    border: none;
    background: none;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: green;
    font-size: 12px;
    padding: 6px 18px;
    line-height: 36px;
    cursor: pointer;
    background: green;
    color: #fff;
    border-radius: 3px;
}

.button--text {
    background: #fff;
    color: green;
}