/* Fake checkbox */

.feckbox__input {
	position: absolute;
	left: -9999px;
}

.feckbox__label {
	box-sizing: border-box;
	width: 100%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	transition: background 0.1s;
}

.feckbox__box {
	box-sizing: border-box;
	display: block;
	border-radius: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 1px solid #fff;
	box-shadow: inset 1px 2px 4px rgba(0,0,0,0.35);
	font-family: 'fontawesome';
	text-align: center;
	color: #fff;
}

.feckbox__input:checked ~ .feckbox__label > .feckbox__box {
	background: #2AA746;
	box-shadow: none;
}


/* hover state */
.feckbox__label:hover > .feckbox__box{
	box-shadow: inset 1px 2px 4px rgba(0,0,0,0.35), 0 0 10px rgba(0,0,0,0.3);
}

.feckbox__label:hover {
	background: rgba(0,0,0,0.2);
}

/* checked state */
.feckbox__input:checked ~ .feckbox__label > .feckbox__box:before {
	content: "\e00d";
}

/* allow tabbing */
.feckbox__input:focus ~ .feckbox__label > .feckbox__box {
	box-shadow: inset 1px 2px 4px rgba(0,0,0,0.35), 0 0 10px rgba(0,0,0,0.3);
}
.feckbox__input:checked:focus ~ .feckbox__label > .feckbox__box {
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* less padded version */

.feckbox--slim > .feckbox__label {
	height: auto;
	padding: 8px 20px 8px 8px;
	width: 100%;
}
